<div id='member'>
  <div class='member'>
    <!--HEADER BAR-->
    <div class='header-bar'>
      <!--ICON BACK-->
      <div
        class='icon icon__back'
        (click)="handleBackClick()"
      >
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
          <path d="M0 0h24v24H0V0z" fill="none"/>
          <path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"/>
        </svg>
      </div>

      <!--HEADER-->
      <h5>
        Member details
      </h5>

      <!--ICON BACK-->
      <div
        class='icon icon__edit'
        (click)="modalOpen = true"
      >
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
          <path d="M0 0h24v24H0V0z" fill="none"/>
          <path
            d="M14.06 9.02l.92.92L5.92 19H5v-.92l9.06-9.06M17.66 3c-.25 0-.51.1-.7.29l-1.83 1.83 3.75 3.75 1.83-1.83c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.2-.2-.45-.29-.71-.29zm-3.6 3.19L3 17.25V21h3.75L17.81 9.94l-3.75-3.75z"/>
        </svg>
      </div>
    </div>

    <!--MEMBER DETAILS-->
    <div>
      <!--IMAGE-->
      <div
        class='member-image'
        [ngStyle]="{'backgroundImage': 'url(' + selectedMember.photo + ')'}"
      >
      </div>

      <!--FIRST NAME + LAST NAME-->
      <h2 class='title'>{{selectedMember?.firstName}} {{selectedMember?.lastName}}</h2>

      <!--SPORTS-->
      <div class='sport-container'>
        <div
          class='sport-wrapper'
          *ngFor="let sport of selectedMember?.sports"
        >
          <div class='icon icon__sport'>
            <svg *ngIf="sport === 'football'" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
              <g>
                <rect fill="none" height="24" width="24"/>
              </g>
              <g>
                <g>
                  <path
                    d="M12,2C6.48,2,2,6.48,2,12c0,5.52,4.48,10,10,10s10-4.48,10-10C22,6.48,17.52,2,12,2z M13,5.3l1.35-0.95 c1.82,0.56,3.37,1.76,4.38,3.34l-0.39,1.34l-1.35,0.46L13,6.7V5.3z M9.65,4.35L11,5.3v1.4L7.01,9.49L5.66,9.03L5.27,7.69 C6.28,6.12,7.83,4.92,9.65,4.35z M7.08,17.11l-1.14,0.1C4.73,15.81,4,13.99,4,12c0-0.12,0.01-0.23,0.02-0.35l1-0.73L6.4,11.4 l1.46,4.34L7.08,17.11z M14.5,19.59C13.71,19.85,12.87,20,12,20s-1.71-0.15-2.5-0.41l-0.69-1.49L9.45,17h5.11l0.64,1.11 L14.5,19.59z M14.27,15H9.73l-1.35-4.02L12,8.44l3.63,2.54L14.27,15z M18.06,17.21l-1.14-0.1l-0.79-1.37l1.46-4.34l1.39-0.47 l1,0.73C19.99,11.77,20,11.88,20,12C20,13.99,19.27,15.81,18.06,17.21z"/>
                </g>
              </g>
            </svg>

            <svg *ngIf="sport !== 'football'" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
              <g>
                <rect fill="none" height="24" width="24"/>
              </g>
              <g>
                <path
                  d="M19.52,2.49c-2.34-2.34-6.62-1.87-9.55,1.06c-1.6,1.6-2.52,3.87-2.54,5.46c-0.02,1.58,0.26,3.89-1.35,5.5l-4.24,4.24 l1.42,1.42l4.24-4.24c1.61-1.61,3.92-1.33,5.5-1.35s3.86-0.94,5.46-2.54C21.38,9.11,21.86,4.83,19.52,2.49z M10.32,11.68 c-1.53-1.53-1.05-4.61,1.06-6.72s5.18-2.59,6.72-1.06c1.53,1.53,1.05,4.61-1.06,6.72S11.86,13.21,10.32,11.68z"/>
                <path
                  d="M18,17c0.53,0,1.04,0.21,1.41,0.59c0.78,0.78,0.78,2.05,0,2.83C19.04,20.79,18.53,21,18,21s-1.04-0.21-1.41-0.59 c-0.78-0.78-0.78-2.05,0-2.83C16.96,17.21,17.47,17,18,17 M18,15c-1.02,0-2.05,0.39-2.83,1.17c-1.56,1.56-1.56,4.09,0,5.66 C15.95,22.61,16.98,23,18,23s2.05-0.39,2.83-1.17c1.56-1.56,1.56-4.09,0-5.66C20.05,15.39,19.02,15,18,15L18,15z"/>
              </g>
            </svg>
          </div>

          <p>{{sport.charAt(0)
            .toUpperCase() + sport.slice(1)}}</p>
        </div>
      </div>
    </div>

    <!--MODAL-->
    <div
      class="modal modal__backdrop"
      *ngIf="modalOpen === true"
      (click)="selectedMember = tempSelectedMember; modalOpen = false;"
    >
      <div
        class="modal modal__wrapper"
        (click)="$event.stopPropagation(); $event.preventDefault()"
      >
        <!--HEADER-->
        <h6>Create a new member</h6>

        <!--FIRST NAME-->
        <div class='field'>
          <label>
            First name
            <span
              class='indicator'
              *ngIf="selectedMember.firstName === ''"
            >
              *
            </span>
          </label>
          <input
            class='input'
            type='text'
            name='First name'
            placeholder='John'
            value="{{selectedMember?.firstName}}"
            #firstNameInput
            (change)="selectedMember.firstName = firstNameInput.value"
          />
        </div>

        <!--LAST NAME-->
        <div class='field'>
          <label>
            Last name
            <span
              class='indicator'
              *ngIf="selectedMember.lastName === ''"
            >
              *
            </span>
          </label>
          <input
            class='input'
            type='text'
            name='Last name'
            placeholder='Doe'
            value="{{selectedMember?.lastName}}"
            #lastNameInput
            (change)="selectedMember.lastName = lastNameInput.value"
          />
        </div>

        <!--SPORTS-->
        <div class='field'>
          <label>
            Active sports ({{selectedMember.sports.length}})
            <span
              class='indicator'
              *ngIf="selectedMember.lastName === ''"
            >
              *
            </span>
          </label>

          <!--SPORT-->
          <div
            class="selected-sport"
            *ngFor="let sport of selectedMember.sports;"
          >
            <!--SELECTED SPORTS-->
            <p
              class='selected-sport-text'
            >
              {{sport.charAt(0)
              .toUpperCase() + sport.slice(1)}}
            </p>

            <!--REMOVE ICON-->
            <i
              class="icon icon__close"
              (click)="handleSportDeSelect(sport)"
            >
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
                <path d="M0 0h24v24H0V0z" fill="none"/>
                <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"/>
              </svg>
            </i>
          </div>

          <!--SELECT SPORTS-->
          <select
            class="input"
            #sportSelect
            (change)="handleSportSelect(sportSelect.value)"
          >
            <option
              [disabled]="selectedMember?.sports?.includes(sportAvailable.toLowerCase())"
              *ngFor="let sportAvailable of sportsAvailable"
              value="{{sportAvailable.toLowerCase()}}"
            >
              {{sportAvailable}}
            </option>
          </select>
        </div>

        <!--ACTIONS-->
        <div class='actions-wrapper'>
          <!--SAVE-->
          <button
            class="{{selectedMember.firstName === '' || selectedMember.lastName === '' || selectedMember.sports.length === 0 ? 'button button__save button__save--disabled' : 'button button__save'}}"
            [disabled]="selectedMember.firstName === '' || selectedMember.lastName === '' || selectedMember.sports.length === 0"
            (click)="handleMemberUpdate()"
          >
            Save
          </button>

          <!--CANCEL-->
          <button
            class='button button__cancel'
            (click)="selectedMember = tempSelectedMember; modalOpen = false"
          >
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
